<h1>Game is about to begin</h1>
<button id="new_game" class="player-<%= current_user['id'] %>">Start new game</button>

<div id="all-games">
	<h2>ALL GAMES:</h2>
	<% @games.each do |game| %>
		<% unless game.player1.id == current_user.id %>
			<h3>Play with <%= game.player1.username %> </h3>
			<form id="join_game" action="/games/<%= game.id %>" method="POST">
				<input type="hidden" name="_method" value="PUT" />
				<input type="submit" value="JOIN" />
			</form>
		<% end %>
	<% end %>
</div>

<h3 class="my_turn hidden" >Player1(me): <%= current_user.username %></h3>
<h3 class="opponent hidden"></h3>
<table id=<%= current_user.id %> class="game hidden <%= current_user['id'] %>" >
	<tr class="row">
		<td id="0" class="cell"></td>
		<td id="1" class="cell"></td>
		<td id="2" class="cell"></td>
	</tr>
	<tr class="row">
		<td id="3" class="cell"></td>
		<td id="4" class="cell"></td>
		<td id="5" class="cell"></td>
	</tr>
	<tr class="row">
		<td id="6" class="cell"></td>
		<td id="7" class="cell"></td>
		<td id="8" class="cell"></td>
	</tr>
</table>


<% if false %>

<h3 id=<%=@game.player1.id %> class="my_turn">Player1: <%= @game.player1.username %>
</h3>
<h3 id=<%= @game.player2.id %> class="opponent">Player2: <%= @game.player2.username %></h3>
<button id="letsStart">Begin</button>
<table id ="game-<%= @game.id %>" class="game <%= current_user.id %>" >
	<tr class="row">
		<td id="0" class="cell"></td>
		<td id="1" class="cell"></td>
		<td id="2" class="cell"></td>
	</tr>
	<tr class="row">
		<td id="3" class="cell"></td>
		<td id="4" class="cell"></td>
		<td id="5" class="cell"></td>
	</tr>
	<tr class="row">
		<td id="6" class="cell"></td>
		<td id="7" class="cell"></td>
		<td id="8" class="cell"></td>
	</tr>
</table>
<% end %>
