<h3 id="player-<%=@game.player1.id %>"" class="my_turn">Player1: <%= @game.player1.username %>
</h3>
<h3 id="player-<%= @game.player2.id %>"" class="opponent">Player2: <%= @game.player2.username %></h3>
<button id="letsStart">Begin</button>
<table id ="game-<%= @game.id %>" class="game <%= current_user.id %>" >
<h3 id="yourTurn" class="hidden">Your turn</h3>
	<tr class="row">
		<td id="0" class="cell"></td>
		<td id="1" class="cell"></td>
		<td id="2" class="cell"></td>
	</tr>
	<tr class="row">
		<td id="3" class="cell"></td>
		<td id="4" class="cell"></td>
		<td id="5" class="cell"></td>
	</tr>
	<tr class="row">
		<td id="6" class="cell"></td>
		<td id="7" class="cell"></td>
		<td id="8" class="cell"></td>
	</tr>
</table>